* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contaner {
    display: grid;
    height: 95vh;
    place-content: center;
    background-color: #dde1e7;

    overflow: hidden;
}

.form input {
    font-size: 2rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px 0px;
    background-color: #dde1e734;

}

.form input:focus {
    background-color: white;
}

.form button {
    font-size: 2rem;
    background-color: #dde1e7;
    margin-left: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;

}

.form button:hover {
    color: #dde1e7;
    border: 2px solid black;
    border-radius: 5px;
    background: black;
    transition: all .1s ease-in;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.radioTile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radioTile label {
    margin-top: 10px;
    opacity: .5;
    color: black
}

.inputContainer {
    position: relative;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}

.inputContainer input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}


.inputContainer .radioTile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 8px;
    transition: all 300ms ease;
}


input:checked+.radioTile {
    transform: scale(1.5);
}

input:checked+.radioTile label {
    color: black;
    opacity: 1;
}

.tempselector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tempselector h1 {
    margin-left: 20px;
    font-size: 3rem;

}

.units {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 10px;
}

.source {
    width: 100%;
    display: flex;
    justify-content: right;
    background: #dde1e7;
    height: 5vh;
    align-items: center;
}

.source img {
    width: 150px;
    margin-left: 10px;
}

.source h3 {
    opacity: .5;
}

@media only screen and (max-width: 472px) {
    .form input {
        width: 200px;
    }
}

@media only screen and (max-width: 346px) {
    .form input {
        width: 250px;
        margin-left: 30px;
    }

    .form button {
        margin-left: 30px;
    }

    .tempselector h1 {
        margin-left: 30px;
    }

}